Source: glues
Priority: extra
Maintainer: unknown <rzr@unknown>
Build-Depends: debhelper (>= 7), cmake
Standards-Version: 3.8.4
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: glues-dev
Section: libdevel
Architecture: any
Depends: gluesBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: gluesBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
